SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pdHR2dmNsc2Vob2NvbnV5Z3ptIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzOTc4ODIsImV4cCI6MjA5NTk3Mzg4Mn0.jiHapq0MLhkIYwUsYGdhT_WWaQM_pYU9OepQVCDgKj4"
SUPABASE_URL="https://mittvvclsehoconuygzm.supabase.co"
VITE_SUPABASE_PROJECT_ID="mittvvclsehoconuygzm"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pdHR2dmNsc2Vob2NvbnV5Z3ptIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzOTc4ODIsImV4cCI6MjA5NTk3Mzg4Mn0.jiHapq0MLhkIYwUsYGdhT_WWaQM_pYU9OepQVCDgKj4"
VITE_SUPABASE_URL="https://mittvvclsehoconuygzm.supabase.co"
EXPO_PUBLIC_SUPABASE_URL="https://mittvvclsehoconuygzm.supabase.co"
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pdHR2dmNsc2Vob2NvbnV5Z3ptIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzOTc4ODIsImV4cCI6MjA5NTk3Mzg4Mn0.jiHapq0MLhkIYwUsYGdhT_WWaQM_pYU9OepQVCDgKj4"

GOOGLE_MAPS_API_KEY="AIzaSyBQBrO3ReM-lWNlhquANUs3Q7PmJ88NyOw"
VITE_GOOGLE_MAPS_API_KEY="AIzaSyBQBrO3ReM-lWNlhquANUs3Q7PmJ88NyOw"
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY="AIzaSyBQBrO3ReM-lWNlhquANUs3Q7PmJ88NyOw"

# Firebase Auth Config
VITE_FIREBASE_API_KEY="AIzaSyBRVTd2BO66Aq7JCuujMqOXYQDThGmW4Pc"
VITE_FIREBASE_AUTH_DOMAIN="college-app-8ebac.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="college-app-8ebac"
VITE_FIREBASE_STORAGE_BUCKET="college-app-8ebac.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="182883918097"
VITE_FIREBASE_APP_ID="1:182883918097:web:8792b90a801d5fde8decb0"
VITE_FIREBASE_MEASUREMENT_ID="G-0YDN5KV9G9"

EXPO_PUBLIC_FIREBASE_API_KEY="AIzaSyBRVTd2BO66Aq7JCuujMqOXYQDThGmW4Pc"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="college-app-8ebac.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="college-app-8ebac"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="college-app-8ebac.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="182883918097"
EXPO_PUBLIC_FIREBASE_APP_ID="1:182883918097:web:8792b90a801d5fde8decb0"
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID="G-0YDN5KV9G9"